@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Figtree", sans-serif;

  color-scheme: light;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(12, 12, 12);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: auto;
}
